{% extends "resume_app/base.html" %}

{% block content %}
<style>
    .form-group{
        margin-bottom:15px;
    }
</style>
    <div class="container" style="padding:20px;">
        <h1 class="text-center mb-4">Enter Your Information to Generate Resume</h1>
        <form method="post" style="padding:20px;">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="linkedin">LinkedIn Profile (Optional)</label>
                <input type="url" class="form-control" id="linkedin" name="linkedin">
            </div>
            <div class="form-group">
                <label for="gmail">Gmail Address (Optional)</label>
                <input type="email" class="form-control" id="gmail" name="gmail">
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">Generate Resume</button>
        </form>
    </div>
{% endblock %}
